[Unit]
Description=SeaFlows Collector
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/SeaFlows/bin
ExecStart=/opt/SeaFlows/bin/seaflows-collector
Restart=always
RestartSec=5s

StandardOutput=append:/var/log/seaflows-collector.log
StandardError=append:/var/log/seaflows-collector.log

NoNewPrivileges=true

[Install]
WantedBy=multi-user.target